<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="MocaDb"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=LAPTOP-18\\SQLEXPRESS01;Initial Catalog=Moca;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>